
html, body {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #fafafa;
    color: #02151c;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 160%;
}

#content, #footer {
    padding: 4rem 2rem;
}

#header {
    background-color: #053a4c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#header img {
    width: 180px;
    margin-top: -0.3rem;
}

#header ul {
    display: flex;
    margin: 0;
}

#header li {
    display: block;
}

#header li a {
    padding: 2rem;
    color: #fafafa;
    text-decoration: none;
    opacity: 0.6;
}

#jumbo {
    background-color: #0b4154;
    color: #fafafa;
    text-align: center;
    padding: 7rem 0 8rem 0;
    font-size: 140%;
    font-weight: lighter;
    text-shadow: 0 2px 0 #000;
}

#jumbo h1 {
    font-weight: lighter;
    margin: 0;
}

#jumbo h1:after {
    content: ' ';
    display: block;
    width: 40px;
    border-bottom: 5px solid #fff;
    margin: 4rem auto;
}

#jumbo ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-style: italic;
}

#jumbo li {
    display: inline;
    padding: 0 1rem;
}

#content {
    width: 900px;
    flex-grow: 1;
    margin: 0 auto;
}

#footer {
    text-align: center;
    font-size: 80%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
}