html,
body {
  display: flex;
  flex-direction: column; }

body {
  background-color: #fcfcfc;
  color: #001b44;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 160%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  margin: 1.5em 0 0.25em 0;
  color: #003e9b; }

a {
  color: #459c09; }

img {
  max-width: 100%; }

p,
pre {
  margin: 0 0 1.25rem 0; }

p > code {
  color: #087da5;
  font-weight: bold; }

code {
  font-family: 'Source Code Pro', monospace; }

.button {
  background-color: #0044aa;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-right: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 80%;
  transition: 0.25s all; }
  .button:hover {
    background-color: #004ec4;
    transform: translateY(-5px); }

#content,
#footer {
  padding: 4rem 2rem; }

#header {
  background-color: #0044aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; }
  #header h2 {
    margin: 0; }
  #header img {
    height: 32px; }
  #header ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
  #header li {
    display: flex; }
    #header li a {
      padding: 2rem;
      color: #fafafa;
      text-decoration: none;
      opacity: 0.8;
      transition: all 0.5s;
      text-shadow: 0 1px 0 #000; }
      #header li a:hover {
        opacity: 1; }
    #header li.active a, #header li a:hover {
      background: #004ec4;
      opacity: 1;
      text-shadow: none; }

#content {
  width: 900px;
  margin: 0 auto;
  background-color: #fcfcfc; }
  #content a {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    font-weight: bold; }

#footer {
  text-align: center;
  font-size: 80%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.075); }

body.index #header {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #0044aa, #004ec4);
  transform: translateY(-30px);
  justify-content: center;
  transition: all 0.35s; }
  body.index #header:hover {
    opacity: 1;
    transform: translateY(0); }
  body.index #header img {
    display: none; }
  body.index #header li a {
    padding: 1rem 2rem; }

#jumbo {
  background-color: #004ec4;
  color: #fafafa;
  text-align: center;
  padding: 7rem 0 0 0;
  font-size: 140%;
  font-weight: lighter;
  text-shadow: 0 2px 0 #000; }

.jumbo-image {
  overflow: hidden;
  margin-top: 3.5rem;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.025) inset; }
  .jumbo-image img {
    transition: 0.5s;
    transform: translateY(30px) scale(0.95);
    filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.2)); }
    .jumbo-image img:hover {
      transform: translateY(0) scale(1); }

.intro {
  text-align: center;
  font-size: 120%;
  padding: 3rem;
  position: relative;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1); }

.grid {
  grid-gap: 3rem;
  padding: 3rem;
  max-width: 1220px;
  margin: 0 auto; }

.info-box {
  font-size: 90%; }
  .info-box strong {
    color: #4d7cc4;
    font-weight: lighter;
    font-size: 120%; }

@media (min-width: 667px) {
  .jumbo-image {
    height: 400px; }
    .jumbo-image img {
      max-height: 600px; }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr); }

  .info-box {
    padding: 2rem; }
    .info-box:nth-child(2n+1) {
      text-align: right; } }
#doc-content {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #fcfcfc 50%, #f3f5f5 50%); }
  #doc-content .hljs {
    padding: 2rem;
    margin: 0 -2rem 0 0;
    background: #02222e;
    box-shadow: -2rem 0 0 #f3f5f5; }
  #doc-content #content {
    margin: 0;
    padding-top: 0; }

.doc-block {
  border-bottom: 1px solid #eee;
  margin: 0 -2rem 2rem 0;
  padding: 0 2rem 2rem 0; }

.doc-block-content {
  padding-left: 2rem; }

.doc-block-content > *:first-child {
  margin-top: 1rem; }

#sidebar {
  background-color: #f3f5f5;
  border-left: 2px solid #e9efef;
  width: 250px;
  font-size: 90%;
  padding: 1rem 2rem; }
  #sidebar ul {
    list-style: square;
    margin: 0;
    padding: 0 0 0 2rem; }
  #sidebar > ul {
    margin-left: -1rem; }
  #sidebar li.active > a {
    color: #000;
    text-decoration: none; }

@media (max-width: 667px) {
  #header {
    flex-wrap: wrap;
    padding: 1rem; }
    #header h2 {
      width: 100%;
      text-align: center; }
    #header li {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
      #header li a {
        padding: 1rem;
        display: block;
        width: 100%; }

  #jumbo ul {
    flex-wrap: wrap; }

  #doc-content {
    flex-wrap: wrap-reverse;
    background: transparent; }

  #content,
  #sidebar {
    width: 100%; }

  #sidebar {
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

  #content {
    padding: 1rem;
    box-sizing: border-box; } }
