{% spaceless %}
<nav>
    <ul>
        {% for page in Page.orderBy('title', 'desc') %}
            <li{% if path.isExactly(page.permalink) %} class="active"{% endif %}>
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </li>
        {% endfor %}
        <li {% if path.is('/docs') %} class="active"{% endif %}>
            <a href="/docs/">Documentation</a>
        </li>
    </ul>
</nav>
{% endspaceless %}