body.index {
  #header {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, $primary, lighten($primary, 5%));
    transform: translateY(-30px);
    justify-content: center;

    transition: all 0.35s;

    &:hover {
      opacity: 1;
      transform: translateY(0);
    }

    img {
      display: none;
    }

    li a {
      padding: 1rem 2rem;
    }
  }
}

#jumbo {
  background-color: lighten($primary, 5%);
  color: #fafafa;
  text-align: center;
  padding: 7rem 0 0 0;
  font-size: 140%;
  font-weight: lighter;
  text-shadow: 0 2px 0 #000;
}

.jumbo-image {
  overflow: hidden;
  margin-top: 3.5rem;
  box-shadow: 0 -10px 10px rgba(#fff, 0.025) inset;

  img {
    transition: 0.5s;
    transform: translateY(30px) scale(0.95);
    filter: drop-shadow(0 10px 25px rgba(#000, 0.2));

    &:hover {
      transform: translateY(0) scale(1.0);
    }
  }
}

.intro {
  text-align: center;
  font-size: 120%;
  padding: 3rem;
  position: relative;
  box-shadow: 0 -5px 10px rgba(#000, 0.1);
}

.grid {
  grid-gap: 3rem;
  padding: 3rem;
  max-width: 1220px;
  margin: 0 auto;
}

.info-box {
  font-size: 90%;

  strong {
    color: mix($primary, #fff, 70%);
    font-weight: lighter;
    font-size: 120%;
  }

}

@media(min-width: 667px) {
  .jumbo-image {
    height: 400px;
    img {
      max-height: 600px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .info-box {
    padding: 2rem;

    &:nth-child(2n+1) {
      text-align: right;
    }
  }
}