html,
body {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #fcfcfc;
  color: darken($primary, 20%);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 160%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  margin: 1.5em 0 0.25em 0;
  color: darken($primary, 3%);
}

a {
  color: $secondary;
}

img {
  max-width: 100%;
}

p,
pre {
  margin: 0 0 1.25rem 0;
}

p > code {
  color: #087da5;
  font-weight: bold;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.button {
  background-color: $primary;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(#000, 0.2);
  border-right: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 80%;
  transition: 0.25s all;

  &:hover {
    background-color: lighten($primary, 5%);
    transform: translateY(-5px);
  }
}

#content,
#footer {
  padding: 4rem 2rem;
}

#header {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  h2 {
    margin: 0;
  }
  img {
    height: 32px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    a {
      padding: 2rem;
      color: #fafafa;
      text-decoration: none;
      opacity: 0.8;
      transition: all 0.5s;
      text-shadow: 0 1px 0 #000;
      &:hover {
        opacity: 1;
      }
    }
    &.active a, a:hover {
      background: lighten($primary, 5%);
      opacity: 1;
      text-shadow: none;
    }
  }
}

#content {
  width: 900px;
  margin: 0 auto;
  background-color: #fcfcfc;
  a {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    font-weight: bold;
  }
}

#footer {
  text-align: center;
  font-size: 80%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
}