{% extends '_base.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
    <div id="content">
        <h1>404 Not Found</h1>
        <div>
            The page you requested could not be found.
        </div>
    </div>
{% endblock %}