<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome {% endblock %} - {{ Site.title }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="amphtml" href="{% if path == '/' %}index.amp{% else %}{{ path.getDirectory() }}/{{ path.getFilename() }}.amp{% endif %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="google-site-verification" content="8jrmhNH0aEWVw8FyCrNDDDV1OBqWbdE8pN3F6q-GvCc" />
    {% block head %}{% endblock %}
</head>
<body>

<header id="header">
    <h2>
        <a href="/">
            <img src="/static/logo.svg" alt="Babble CMS">
        </a>
    </h2>
    {% include '_partials/menu.twig' %}
</header>

{% block body %}{% endblock %}

<footer id="footer">
    Powered by Babble CMS.
</footer>

{% block bottom %}{% endblock %}

</body>
</html>