<html>
<head>
    <title>{% block title %}{% endblock %} - {{ site.title }}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<header id="header">
    <h2>
        <a href="/">
            <img src="/static/logo.svg" alt="Babble CMS">
        </a>
    </h2>
    <nav>
        <ul>
            {% for page in Page.all() %}
                <li>
                    <a href="/{{ page.id == 'index' ? '' : page.id }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>

{% block body %}
{% endblock %}

<footer id="footer">
    Powered by Babble CMS.
</footer>

</body>
</html>