{% extends '_base.twig' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
    <div id="content">
        <h1>{{ this.title }}</h1>
        <div>
            {{ this.body }}
        </div>
    </div>
{% endblock %}